*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

 #resultat{
    border: 1px solid black;
    width: 150px;
    height: 150px;
     background: grey;
    
     margin: 10px auto;
 }